.stupac {
  display: flex;
  flex-direction: column;
}
.dodavanje {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
label {
  margin-bottom: 2%;
}

select {
  width: min-content;
}

button {
  background-color: black;
  border: 3px solid darkmagenta;
  color: white;
}

.razmak {
  margin: 3% 0;
}
