.flex-review{
    display: flex;
    flex-direction: column;
}
.flex-review-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-review{
    width: 130px;
    height: 120px;
}

.image-review>img{
    width: 100%;
    height: 100%;
}

.plati{
   margin-left: 90%;
}
.payment-form{
    margin-left: 60%;
    background-color: lightgray;
}

.kartice{
    margin-left: 10%;
    background-color: gray;
}
.radio{
    font-size: 1.2rem;
}


