#car-card{
    border-bottom: 2px inset black;
    padding: 15px;
    background-color: lightgrey;
}

#slika-auta{
    height: 100%;
}

.me-1{
    font-size: 2rem;
}
.mb-1{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}


#car-card{
    margin: 0;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 100%;


}


 .row{
   display: flex;
   flex-direction: column !important;
   align-items: center;
   max-width: 70%;
   animation: transform 2s;
}

.row:hover{
    transform: scale(1.05);
    background-color: lavender !important;
    font-weight: bold;
    font-size: larger;
}

.row-1{
  display: flex;
  justify-content: flex-end;
}


