.login-glavni{
    width: 100%;
    height: 100vh;
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/dsc03346-1677272749.jpg");
    background-size: cover;
    background-position: 100%;
}

#div-prijava{
    width: 50%;
    height: 65%;
    
    top: 5%;
    position: absolute;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.498);
    font-weight: bold;

}

#div-reg{
    width: 50%;
    height: 90%;
    
    top: 5%;
    position: absolute;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.498);
    font-weight: bold;

}




#labela{
    float: left;
    font-size: 25px;
    font-weight: bolder;
}

.prijava{
    background-color: darkslategray;
    border: none;
}
.link-to-reg{
        background-color: transparent;
        border: none;
        font-weight: bold;
        
    
}
