#div-prijava{
    width: 50%;
    height: 65%;
    
    top: 10%;
    position: absolute;
    border-right: 1px solid gray;
    padding: 15px;

}
#div-reg{
    width: 50%;
    height: 65%;
    left: 50%;
    top: 10%;
    position: absolute;
    border-right: 1px solid gray;
    padding: 15px;
}

#prijava{
    background-color: darkgreen;
    border: none;
}
#prijava:hover{
    background-color: rgb(6, 48, 6);
}

#labela{
    float: left;
    font-size: 25px;
    font-weight: bolder;
}



#reg{
    color: darkgreen;
    font-weight: bold;
}

#reg:hover{
    color: rgb(6, 48, 6);
}

#user, #pass{
    color: darkgreen;
    font-weight: bold;
    border-radius: 3%;
}

#log-reg{
    display: flex;
    flex-direction: row;
}